.vscode/**
.vscode-test/**
.github/**
.serena/**
out/**
node_modules/**
src/**
scripts/**
AGENTS.md
.npmrc
.gitignore
.yarnrc
pnpm-lock.yaml
pnpm-workspace.yaml
webpack.config.js
vsc-extension-quickstart.md
resources/marketplace-icon.svg
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
**/*.vsix
